<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Party Generator: Login</title>
  </head>

  <body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith   %}    
<h2>Configure your party search</h2>
    <form action="/login" method="post">
      Fetch <input type="text" name="no_of_tweets_from_user_timeline" value="100" /> tweets from my time line. <br>
	  Use the <input type="text" name="no_of_keywords" value="15" /> most frequent keywords in my tweets. <br>
	  Include retweets: <input type="radio" name="include_rts_in_timeline" value="yes" /> yes <input type="radio" name="include_rts_in_timeline" value="no" /> no <br>
	  Fetch tweets by users located in <input type="text" name="location_radius" value="25km" /> around me. <br>
	  Analyze <input type="text" name="no_of_search_results" value="200"/> search results to find my party mates. <br>
	  Find only users with moods that match mine: <input type="radio" name="perform_sentiment_analysis" value="yes" /> yes <input type="radio" name="perform_sentiment_analysis" value="no" /> no <br>
	  <input type="submit" value="Log into Twitter" />
	</form>

  </body>
</html>