<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Party Generator: Party time!</title>
  </head>
  <body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


   Login successfully!

   Your Twitter location is: {{location}}	<br>

   Your most common keywords (stemmed) and hashtags are: {{keywords_and_tags}} <br>

   Your most common emotions expressed in tweets are {{user_emotions}} <br>

   The most common emotions expressed in your party mates' tweets are: {{party_emotions}} <br>

   Your Twitter party mates are:
<ul>
{% for result in result_tweets %}
<li><a href="http://twitter.com/{{ result['user']['screen_name'] }}">{{ result['user']['name'] }}</a> : {{ result['text'] }}</li>
{% endfor %}
</ul>

  </body>
</html>